
body {
    background-color: #78C8DA;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Removi a propriedade overflow para ocultar a barra de rolagem lateral */
}

/* Container principal */
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterei 'height' para 'min-height' para garantir que o contêiner tenha pelo menos a altura da tela */
    padding: 0 20px; /* Adiciona um preenchimento lateral para melhorar a aparência em telas grandes */
}

/* Formulário de login */
.login form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos verticalmente */
    max-width: 400px; /* Limita a largura máxima do formulário para melhor legibilidade */
    width: 100%; /* Garante que o formulário ocupe toda a largura do container */
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff; /* Adiciona um fundo branco ao formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao formulário */
}

/* Estilos para todos os campos de entrada */
.login input {
    margin-top: 10px;
    padding: 10px; /* Adiciona um preenchimento uniforme em todos os lados */
    border: 1px solid #ccc; /* Adiciona uma borda sutil */
    border-radius: 4px;
    outline: none;
    width: 100%; /* Garante que os campos de entrada ocupem toda a largura disponível */
}

/* Estilos para o botão de envio */
.login input[type="submit"] {
    margin-top: 20px; /* Aumenta a margem superior para separar o botão dos campos de entrada */
    background-color: #4CAF50; /* Cor de fundo verde para o botão */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px; /* Adiciona um preenchimento maior para tornar o botão mais visível e clicável */
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao passar o mouse sobre o botão */
}

.login input[type="submit"]:hover {
    background-color: #45a049; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

/* Estilos para o link de "Já tem um cadastro?" */
.login p a {
    margin-top: 10px; /* Adiciona uma margem superior para separar o link do restante do conteúdo */
}

/* Estilos para o cabeçalho */
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px; /* Adiciona uma margem inferior para separar o cabeçalho do restante do conteúdo */
}
